* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }  
  .landing-text {
    text-align: center;
    margin-top: 50px;
    position: relative;
    z-index: 1; /* Set a higher z-index */
    font-size:large;
    font-weight: 600;
  }

  .landing-text2 {
    text-align: center;
    margin-top: 40px;
  }

  .landing-text3 {
    position: absolute; /* Position relative to the nearest positioned ancestor */
    bottom: 20px; /* Adjust this value to set the distance from the bottom */
    width: 100%; /* Take the full width of the viewport */
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }