/* testimage.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    position: relative; /* Ensure relative positioning for child elements */
}

.landing-text {
    text-align: center;
}

.hello-image {
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    position: relative;
}

.landing-text2 {
    text-align: center;
    position: fixed; /* Change to fixed */
    bottom: 0;
    width: 100%;
    font-size: 15px;
    z-index: 1; /* Set a higher z-index */
}
